footer {
    background-color: black ;
    background-color:  black ;  
}
.v1{
  
  border-left: 2px solid white;
  opacity: 0.3;
  height: 23px;
  display: inline-block;
  margin-left: 0px;
 margin-bottom: -7px;
}
span{
    margin-left: 20px;
}

@media(max-width:700px){
      .logo-2{
          margin-top: 1px;
          margin-left: -5px;
          margin-right: 10px;
    }
    .intermac-img{
        margin-top: 5px;
    }
    .v1{
        margin-top: 9px;
      }
      #p{
          margin-left: 27%;
      }
      #h{
          /* font-size: 10px; */
          display: inline-table;
          margin-left: 60px;
      }
      .pharma{
          display: inline;
          margin-left: 0%;
          color: white;
          font-size: 14px;
          width: 0.1px;
          margin-top: 10px;
      }
}