.main {
    margin: 0%;
    padding: 0%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: url('../../images/bgimage.png');
    height: 100vh;
    width: 100%;
}

.color {
    text-align: center;
    font-weight: bold;
    color: #b04642;
    font-style:normal;
    font-size: 35px;
    /* padding:1% ; */
}

.logomanage {
    text-align: center;
    margin-top: 150px;
    padding: 40px;
}

.logo {
    padding: 0%;
    text-align: center;
    height: 190px;
    width: 190px;
    margin-top: -10%;
}

.img {
    height: 30px;
    width: 190px;
    padding: 0%;
}

.section {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.tag {
    text-align: center;
    font-style: normal;
    /* font-weight: bolder; */
    margin: 0%;
    padding: 0%;
}

.heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    word-spacing: 0.1cm;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: bolder;
    font-family: unset;
}

.para {
    text-align: center;
    margin: 0;
    color: black;
    font-size: 18px;
}

.btn {
    -webkit-transition-duration: 0.9s;
    transition-duration: 0.4s;
    font-weight: bolder;
    font-size: 15px;
    /* border:0.1px solid rgb(0, 0, 0); */
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 2px;
    margin: 10px;
    text-align: center;
    opacity: 1;
    z-index: 1;
    height: 60px;
    width: 200px;
}

.btn:hover {
    background-color: #c42c2cbe;
    color: white;
}

.inline-button {
    text-align: center;
    width: 100%;
    margin: 0%;
    margin-top: 6px;
}

.info {
    text-align: center;
    margin-top: -35px;
}

.slash {
    display: inline;
    font-family: auto;
    font-size: 40px;
    font-weight:lighter;
    margin-left: -10px;
    margin-right: 10px;
}

.animation {
    font-weight: bolder;
    font-style: italic;
    display: inline;
    text-align: center;
    color: #b04642;
    font-style: italic;
    font-size: 25px;
}

#ani {
    animation-duration: 3s;
    animation-name: slidein;
    font-weight: lighter;
}

@keyframes slidein {
    from {
        margin-left: 150%;
        width: 100%;
        /* margin-right: 0%; */
        opacity: 0%;
    }
    to {
        /* margin-left: 100%; */
        width: 100%;
        opacity: 100%;
        margin-right: 150%;
    }
}

.nations {
    padding-left: 10px;
    list-style: none;
    margin-left: 0;
    margin-right: 8px;
    float: right;
    margin-top: 20px;
    display: inline-block;
}

.nations li a img {
    width: 35px;
    height: 25px;
}

.nations li a img:hover {
    transform: scale(1.1, 1.1);
    transition: transform .5s;
}

/* desktop */

/* tabs */

/* mobiles */

@media( max-width: 365px) {
    .main {
        margin: 0%;
        padding: 0%;
        background-size: auto;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-image: url('../../images/bgimage.png');
        height: auto;
        width: 100%;
    }

    .logo {
        text-align: center;
        height: 100PX;
        width: 100PX;
        /* margin-bottom: 70px;
        padding-bottom:70px ;
        padding-top: 70px; */
    }
    .logomanage {
        text-align: center;
        margin-top: 10px;
        /* padding: 40px; */
    }
    .color {
        text-align: center;
        font-weight: bolder;
        color: #b04642;
        font-style: italic;
        font-size: 25px;
    }
    .img {
        height: 25px;
        width: 120px;
        padding: 0%;
    }
    .slash {
        display: inline;
        font-size: 30px;
    }
    .para {
        opacity: 0%;
    }
    .nations {
        /* opacity: 0%; */
        margin-left: 10px;
    }
    .inline-button {
        text-align: center;
        width: 100%;
        margin: 0%;
        margin-top:-20px;
    }
    .heading {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        word-spacing: 0.1cm;
        margin-top: 70px;
        margin-bottom: 0;
        font-size: 25px;
    }
    /* .main{
    background-image: url('../../images/doc.jpeg');
} */
    .btn:hover {
        background-color: #DC143C;
        color: white;
    }
}

@media( max-width: 700px) {
    .main {
        margin: 0%;
        padding: 0%;
        background-size: auto;
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-image: url('../../images/bgimage.png');
        height: 100vh;
        width: 100%;
    }

    .logo {
        text-align: center;
        height: 100PX;
        width: 100PX;
        /* margin-bottom: 70px;
        padding-bottom:70px ;
        padding-top: 70px; */
    }
    .logomanage {
        text-align: center;
        margin-top: 10px;
        /* padding: 40px; */
    }
    .color {
        text-align: center;
        font-weight: bolder;
        color: #b04642;
        font-style: italic;
        font-size: 25px;
    }
    .img {
        height: 25px;
        width: 120px;
        padding: 0%;
    }
    .slash {
        display: inline;
        font-size: 30px;
    }
    .para {
        opacity: 0%;
    }
    .nations {
        /* opacity: 0%; */
        margin-left: 10px;
    }
    .inline-button {
        text-align: center;
        width: 100%;
        margin: 0%;
        margin-top:-20px;
    }
    .heading {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        word-spacing: 0.1cm;
        margin-top: 70px;
        margin-bottom: -40px;
        font-size: 25px;
    }
    /* .main{
    background-image: url('../../images/doc.jpeg');
} */
    .btn:hover {
        background-color: #DC143C;
        color: white;
    }
}