.header-generics{
  background-image: url(../../../../images/h.png);
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  .under{
    text-align: center;
    margin-top: -50px;
    margin-bottom: -10px;
    font-weight: bolder;
    font-family: auto;
    font-size: 40px;
    color: darkslateblue;
    /* margin-left: -10px;
    margin-right: 10px; */
}
  
  td, th {
    border: 3px solid black;
    
    text-align: left;
    
  }
  /* tr{
      height: 100px;
      
  } */
    td{
      word-spacing: 0.1cm;
      font-weight:600;
      padding: 5px;
      border: 2px solid ;
      border-color: white black white black;
      padding-left: 20px;
    }
  th{
    color: white;
  }
  tr:nth-child(even) {
    background-color: #cccccc ;
  }
  tr:nth-child(odd) {
    background-color: #e5e5e5;
  }
  
.head1{
    background-color:#999999;font-size:18px; ;
}

.head2{
    background-color:#333333;font-size:18px;
}

@media(max-width:700px){
  /* table{
    margin-left: 10%;
    margin-top: '5%';
    margin-bottom:'3%';
  } */
  .row{
    width: 100%;
    margin: 0%;
  }
  .resp-table{
    margin-left: -20.4%;
    width: 100%;
  }
}